@media screen and (max-width: 1400px)  { 

.second-title{
    font-size: (@baseTextSize * 3.2) * .8;
    line-height: (@baseTextSize * 3.2 * .8);
}

.title {

    font-size: (@baseTextSize * 1.5) * .8;
 
  }
  
  
.text-1{

    font-size: (@baseTextSize * .8) ;
    margin-bottom: (4rem) * .8;
}

.contenedor{
    width: @contenedor *.8!important;
}

}