@media screen and (min-width: 769px) and (max-width: 1440px) {

    .second-title{
        font-size: (@baseTextSizeResponsive * 5) * 1; 
        line-height: (@baseTextSizeResponsive * 5) * 1;
    }
    .title {
        font-size: (@baseTextSizeResponsive * 3) * 1; 
      }

      .principal{
        height: 100%;
        padding-top: 10vw;
        padding-bottom: 10vw;
    }

}
