@media screen and (min-width: 768px) {
    .__featuremine-img-children{
       /* width: 110%;*/
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .__featuremine-img-children{
   
}

.second-title{
    font-size: (@baseTextSizeResponsive * 5) * 1; 
    line-height: (@baseTextSizeResponsive * 5) * 1;
}
.title {
    font-size: (@baseTextSizeResponsive * 3) * 1; 
  }

  .text-1{
    font-size: (@baseTextSizeResponsive * 3) * .7;
  }

  
}
