@import url('https://fonts.googleapis.com/css?family=Hind:400,600,700');

body{
    font-family: 'Hind';
}

.second-title{
    font-size: @baseTextSize * 1.2;
    font-weight: 700;
    line-height: @baseTextSize * 1.2;
}

.title {
    color: #D73240;
    font-size: @baseTextSize * .8;
    font-weight: 600;
  }
  
  
.text-1{
    color: #575757;
    font-size: @baseTextSize * .4;
    
}
