.navegacion{
    width: 100%;
    justify-content: center;
    display: flex;
    height: 54px;
    background-color: white;
    position: fixed;
    z-index: 150;
}
.navbar{
    background: lighten(@baseColor, 100);
    max-width: @contenedor + 15!important;
    z-index: 200;
    position: fixed;
    padding: 0 1rem;
    padding-left: 1.5rem;
    font-weight: 600;
}

.navbar-toggler {
    padding: .25rem .5rem;
    font-size: 1rem;
    border: none;
}
.navbar-nav{
    a{
        padding-right: 1rem!important;
        padding-left: 1rem!important;
        color: lighten(@baseColor, 50) ;
        &:hover { 
            color: darken(@baseColor, 0) ;
            }  
    }
    .explore {
        color: @blue!important;
        &:hover { 
        color: darken(@blue, 25)!important ;
        }
        
    }
    
}

@media (max-width: 992px) { 
    .navbar-brand{
        margin: auto;
    }
    .navbar{
        padding: 0 1rem 0 3.3rem;
    }
    #logo{
        height: 50px;
    }
    .navbar-collapse{
        text-align: center;
        a{
            padding: 20px;
        }
    }
    
}