/*-----------typography---------------*/
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Regular'), local('Hind-Regular'), url(https://fonts.gstatic.com/s/hind/v9/5aU69_a8oxmIdGl4AQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: local('Hind SemiBold'), local('Hind-SemiBold'), url(https://fonts.gstatic.com/s/hind/v9/5aU19_a8oxmIfLZcERySiA.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Bold'), local('Hind-Bold'), url(https://fonts.gstatic.com/s/hind/v9/5aU19_a8oxmIfNJdERySiA.ttf) format('truetype');
}
body {
  font-family: 'Hind';
}
.second-title {
  font-size: 4.32rem;
  font-weight: 700;
  line-height: 5.25rem;
}
.title {
  color: #D73240;
  font-size: 2.4rem;
  font-weight: 600;
}
.text-1 {
  color: #000000;
  font-size: 1.2rem;
}
/*----------------layout--------------*/
.App {
  text-align: left;
}
body {
  margin: 0;
  color: #000000;
}
.contenedor {
  margin: 0 1rem;
}
/*
  img{
    padding-left: 30px;
    padding-top: 6px;
  }
  */
.two-buttons {
  display: flex;
  justify-content: space-between;
}
.black-button {
  min-width: 139px;
  background-color: #000000;
  font-weight: 600;
  font-size: 1.08rem;
  padding: 0.6rem 1.2rem;
  color: white;
  border-color: #000000;
}
.white-button {
  background: none;
  font-weight: 600;
  font-size: 1.08rem;
  padding: 0.6rem 1.2rem;
  color: #3B9BFE;
  border: none;
  text-align: left;
}
.principal {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
   .__anything-img-children{
    width: 630px;
  
  }*/
.align-item-center {
  display: flex;
  align-items: center;
}
.__featuremine-img-children,
.__covered-img-children,
.__ecosystem-img-children,
.__introspect-img-children,
.__modular-img-children,
.__research-img-children,
.__setup-img-children {
  width: 100%;
}
.__featuremine-img-children {
  width: 130%;
  margin-left: -4vw;
}
.__modular-img-children {
  width: 100%;
}
.__anything-img-children {
  width: 100%;
}
.__covered-img-children {
  width: 100%;
}
.__ecosystem-img-children {
  width: 100%;
}
.__introspect-img-children {
  width: 120%;
}
.principal {
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #ebebeb 0%, #ededed 10%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f2f2f2), color-stop(0%, #ebebeb), color-stop(10%, #ededed), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #ebebeb 0%, #ededed 10%, #ffffff 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #ebebeb 0%, #ededed 10%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #ebebeb 0%, #ededed 10%, #ffffff 100%);
  background: linear-gradient(to bottom, #f2f2f2 0%, #ebebeb 0%, #ededed 10%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0);
}
/*-----------menu----------*/
.topnav {
  z-index: 100;
  position: fixed;
  width: 100vw;
  padding: 8px 10vw;
  overflow: hidden;
  background-color: #FFFFFF;
}
.topnav a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
  font-family: 'hind';
  letter-spacing: 0.2em;
}
.topnav a:hover {
  background-color: #ffffff;
  color: black;
}
.topnav .icon {
  display: none;
}
.active {
  padding: 7px 20px!important;
  border: 1px #000000 solid;
}
@media screen and (max-width: 890px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*--------------768------------*/
@media screen and (min-width: 768px) {
  .__featuremine-img-children {
    width: 110%;
  }
}
@media screen and (max-width: 768px) {
  .__featuremine-img-children {
    margin-left: -15vw;
  }
  .second-title {
    font-size: 10vw;
    line-height: 10vw;
  }
  .title {
    font-size: 6vw;
  }
}
/*--------------840------------*/
@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*--------------1440------------*/
@media screen and (min-width: 769px) and (max-width: 1440px) {
  .second-title {
    font-size: 5vw;
    line-height: 5vw;
  }
  .title {
    font-size: 3vw;
  }
}
/*--------------1920------------*/
.contenedor {
  max-width: 1520px;
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .second-title {
    font-size: 3.11111111vw;
    line-height: 4vw;
  }
  .title {
    font-size: 2vw;
  }
  .text-1 {
    font-size: 1vw;
  }
}
