/*-----------typography---------------*/
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Regular'), local('Hind-Regular'), url(https://fonts.gstatic.com/s/hind/v9/5aU69_a8oxmIdGl4AQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 500;
  src: local('Hind Medium'), local('Hind-Medium'), url(https://fonts.gstatic.com/s/hind/v9/5aU19_a8oxmIfJpbERySiA.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: local('Hind SemiBold'), local('Hind-SemiBold'), url(https://fonts.gstatic.com/s/hind/v9/5aU19_a8oxmIfLZcERySiA.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Bold'), local('Hind-Bold'), url(https://fonts.gstatic.com/s/hind/v9/5aU19_a8oxmIfNJdERySiA.ttf) format('truetype');
}
body {
  font-family: 'Hind';
}
.second-title {
  font-size: 3.84rem;
  font-weight: 700;
  line-height: 3.84rem;
}
.title {
  color: #D73240;
  font-size: 1.8rem;
  font-weight: 600;
}
.text-1 {
  color: #666666;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}
/*----------------layout--------------*/
.App {
  text-align: left;
}
body {
  min-width: 320px;
  margin: 0;
  color: #000000;
}
.contenedor {
  width: 1280px !important;
  display: flex;
  padding: 10vh 0;
}
.p-t-10 {
  padding-top: 10vh;
}
/*
  img{
    padding-left: 30px;
    padding-top: 6px;
  }
  */
.c-5 {
  width: 525px;
}
.c-7 {
  width: 740px;
}
@media screen and (max-width: 440px) {
  .call-t-action {
    justify-content: center!important;
  }
  .call-t-action .black-button {
    width: 100%;
  }
  .call-t-action .white-button {
    text-align: center;
    width: 100%;
  }
}
.two-buttons {
  display: flex;
  justify-content: space-between;
}
.black-button {
  letter-spacing: 0.2em;
  min-width: 139px;
  background-color: #000000;
  font-weight: 600;
  font-size: 0.96rem;
  padding: 0.96rem 1.92rem;
  color: white;
  border-color: #000000;
}
.white-button {
  letter-spacing: 0.1em;
  background: none;
  font-weight: 600;
  font-size: 0.96rem;
  padding: 0.6rem 1.2rem;
  color: #3595fe;
  border: none;
  text-align: left;
}
.principal {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
   .__anything-img-children{
    width: 630px;
  
  }*/
.align-item-center {
  display: flex;
  align-items: center;
}
.__featuremine-img-children,
.__covered-img-children,
.__ecosystem-img-children,
.__introspect-img-children,
.__modular-img-children,
.__anything-img-children,
.__research-img-children,
.__setup-img-children {
  width: 100%;
}
/*
   .__featuremine-img-children{
    width: 100%;
    
   }
  
   .__modular-img-children{
    width: 100%;
   }
   .__anything-img-children{
    width: 100%;
   }
   .__covered-img-children{
    width: 100%;
   }
   .__ecosystem-img-children{
    width: 100%;
   }
   .__introspect-img-children{
       width: 100%;
   }*/
.principal {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+0,ffffff+100 */
  background: #fafafa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fafafa 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fafafa 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fafafa 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}
/*-----------menu----------*/
/*
  #myTopnav{
    padding: 0 1em;
  }
*/
.hov {
  display: flex;
  flex-direction: column;
}
.topnav {
  margin: auto;
  z-index: 100;
  position: fixed;
  width: 100vw;
  min-width: 320px;
  overflow: hidden;
  background-color: #FFFFFF;
}
.topnav a {
  color: #808080;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'hind';
  font-weight: 500;
}
.topnav a:hover {
  color: #000000;
  /*font-weight:bold;*/
}
.topnav .icon {
  display: none;
}
.active {
  padding: 7px 20px!important;
  /*border: 1px #000000 solid;*/
}
@media screen and (max-width: 890px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*--------------1920------------
@import "1920.less";

/*--------------1440------------

@import "1440.less";

/*--------------840------------
@import "840.less";

/*--------------768------------
@import "768.less";

/*--------------360------------
@import "576.less";*/
/*-------------1400------------*/
@media screen and (max-width: 1400px) {
  .second-title {
    font-size: 3.072rem;
    line-height: 3.072rem;
  }
  .title {
    font-size: 1.44rem;
  }
  .text-1 {
    font-size: 0.96rem;
    margin-bottom: 3.2rem;
  }
  .contenedor {
    width: 1024px !important;
  }
  .c-5 {
    width: 420px !important;
  }
  .c-7 {
    width: 592px !important;
  }
}
/*-------------1080------------*/
@media screen and (max-width: 1080px) {
  /*.second-title{
        font-size: (@baseTextSize * 3.2) * .6;
        line-height: (@baseTextSize * 3.2 * .6);
    }
    
    .title {
    
        font-size: (@baseTextSize * 1.5) * .6;
     
      }
      
      
    .text-1{
    
        font-size: (@baseTextSize * .6) ;
        margin-bottom: (4rem) * .6;
    }*/
  .contenedor {
    width: 768px !important;
  }
  .c-5 {
    width: 315px !important;
  }
  .c-7 {
    width: 444px !important;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: fixed;
  }
  .topnav.responsive.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (min-width: 1080px) {
  .topnav {
    padding: 0 5vw;
  }
}
