.App {
  text-align: left;
}

.navbar {
  background: #ffffff;
  position: absolute;
  width: 100%;
  z-index: 99;
}
.navbar.fixed {
  background: #000000;
  margin-top: -4vh;
  position: fixed;
  z-index: 100;
}
.navbar .nav-container {
  z-index: 100;
  width: 88%;
  min-height: 60px;
  max-height: 60px;
  margin-left: 6%;
}
.navbar .nav-container .brand, .navbar .nav-container .links {
  display: inline-block;
}
.navbar .nav-container .links {
  float: right;
  -webkit-font-smoothing: antialiased;
}
.navbar .nav-container .links ul li {
  display: inline-block;
  text-decoration: none;
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 9px;
  margin-right: 22px;
  margin-bottom: 5px;
}
.navbar .nav-container .links ul li a {
  display: block;
  padding: 15px;
  padding-left: 18px;
  padding-right: 18px;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-family: 'hind';
  -webkit-font-smoothing: antialiased;
}
.navbar .nav-container .links ul li a:hover {
  color: #000000;
}
.navbar .nav-container .links ul li a.active {
  color: #000000;
}
.navbar .brand {
  padding: 8px;
  margin-top: 4px;
  padding-top: 0px;
  padding-left: 20px;
}
.navbar .brand img {
  width: 95%;
}

.bordered2{
  border: 1px black solid;
}

  .title{
      color: #D73240;
      font-size: 32px;
      font-family: 'hind';
  }

  .second-title{
      font-size: 65px;
      font-family: 'hind';
  }

  .text-1{
      color: #575757;
      font-size: 26px;
      font-family: 'hind';
  }

  .two-buttons{
    display: flex;
    justify-content: space-between;
  } 
  
  .black-button {
    background-color: black;
    font-family: 'hind';
    font-size: 18px;
    height: 50px;
    width: 150px;
    color: white;
    border-color: black;
  }
  
  .white-button {
    background-color: #F8F8F8;
    font-family: 'hind';
    font-size: 18px;
    height: 50px;
    width: 150px;
    color: #3B9BFE;
    border: none;
  
  }

 .principal{
     padding-top: 80px;
     padding-bottom: 200px;
     padding-left: 50px;
 }

 .__featuremine-img img{
   display: flex;
   flex-wrap: wrap;
 }

.principal{
background: rgba(242,242,242,1);
background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(235,235,235,1) 0%, rgba(237,237,237,1) 10%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,242,242,1)), color-stop(0%, rgba(235,235,235,1)), color-stop(10%, rgba(237,237,237,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(235,235,235,1) 0%, rgba(237,237,237,1) 10%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(235,235,235,1) 0%, rgba(237,237,237,1) 10%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(235,235,235,1) 0%, rgba(237,237,237,1) 10%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(242,242,242,1) 0%, rgba(235,235,235,1) 0%, rgba(237,237,237,1) 10%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0 );
}
